Montserrat/@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat/Montserrat.eot');
	src: local('Montserrat'), url('../assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
	url('../assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'),
	url('../assets/fonts/Montserrat/Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato/Lato.eot');
	src: local('Lato'), url('../assets/Lato/fonts/Lato.woff') format('woff'),
	url('../assets/fonts/Lato/Lato.ttf') format('truetype'),
	url('../assets/fonts/Lato/Lato.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*PALLETE*/
/* Ivory: #FEFEE7
/* Aqua1: #A4D0C4
/* Aqua2: #72C4B9
/* Gray: #9A9C9F
/* Black: 0F0F0D
/* White: #fefee7

/* GENERAL */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
	background-color: #fefee7;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	width: 100vw;

}

h1, h2, h3,h4, h5, h6, label{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

label{
	margin-top: 20px;
}

.hide{
	display: none;
}

.row{
	height: auto;
	margin:0;
	padding: 0;
}

.container-fluid{
	width: 100vw;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
/* HELPERS */

.m-0{
	margin:0px;
}

.mt-0{
	margin-top:0px;
}

.mb-0{
	margin-bottom:0px;
}

.ml-0{
	margin-left:0px;
}

.mr-0{
	margin-right:0px;
}

.m-20{
	margin:20px;
}

.mt-20{
	margin-top:20px;
}

.mb-20{
	margin-bottom:20px;
}

.ml-20{
	margin-left:20px;
}

.mr-20{
	margin-right:20px;
}

.m-40{
	margin:40px;
}

.mt-40{
	margin-top:40px;
}

.mb-40{
	margin-bottom:40px;
}

.ml-40{
	margin-left:40px;
}

.mr-40{
	margin-right:40px;
}

.pt-10{
	padding-top: 10px;
}


.bkg-ivory{
	background-color: #FEFEE7;
}

.bkg-black{
	background-color: #0F0F0D;
}

.bkg-aqua1{
	background-color: #A4D0C4;
}

.bkg-aqua2{
	background-color: #72C4B9;
}

.text-ivory{
	color: #fefee7;
}

.text-black{
	color: #0F0F0D;
}

.text-aqua1{
	color: #A4D0C4;
}

.text-aqua2{
	color: #72C4B9;
}

.text-gray{
	color: #9A9C9F;
}

.bolder{
	font-weight: 700;
}

.fake-hr{
	border-bottom: 2px solid rgba(224,224,224,1);
}
/* BUTTONS */

.btn-theme-1{
	background-color: transparent;
	border: 2px solid #fefee7;
	color:#fefee7;
}

.btn-theme-1:hover,.btn-theme-1:focus{
	background-color: transparent;
	border: 2px solid #72c4b9;
	color:#72c4b9;
	font-weight: 700;

}

.btn-theme-2{
	background-color: #72c4b9;
	color:#fefee7;
}

.btn-theme-2:hover,.btn-theme-2:hover{
	background-color: #72c4b9;
	color:#fefee7;
}

/* MODALS */

.modal{
	width:80vw;
	margin: auto;
	padding: 5vh auto auto auto;
	padding-bottom: 20px;
}
.modal-overlay{
	background-color:#72c4b9;
}

.modal-close{
	background-color: transparent;
	color: #72c4b9;
	margin-right: 20px;
	margin-bottom: 20px;
}

.modal-close:hover{
	background-color: transparent;
	color: #72c4b9;
	margin-right: 20px;
	margin-bottom: 20px;
}

/*INPUTS*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #72c4b9;
	-webkit-box-shadow: 0 1px 0 0 #72c4b9;
	box-shadow: 0 1px 0 0 #72c4b9;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #72c4b9;
}

.input-field label {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	text-align: initial;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	pointer-events: none;
}

.input-field label:not(.label-icon).active {
	-webkit-transform: translateY(-36px) scale(0.8);
	transform: translateY(-36px) scale(0.8);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

[type="checkbox"]:checked {
	color: #72c4b9;
	border-right: 2px solid #72c4b9;
	border-bottom: 2px solid #72c4b9;
}

[type="checkbox"]:checked + i {
	color: #72c4b9;
}

.select-wrapper input.select-dropdown{
	background-color: #72c4b9;
	color:#fefee7;
	font-weight: bolder;
	padding-left: 1rem;
}

.select-dropdown:active{
	background-color: #72c4b9;
	color:#fefee7;
	font-weight: bolder;
	padding-left: 1rem;
}

/* SPLASH */
#start {
	background: -moz-linear-gradient(-45deg, #1e5799 0%, #72c4b9 0%, #72c4b9 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1e5799 0%,#72c4b9 0%,#72c4b9 95%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1e5799 0%,#72c4b9 0%,#72c4b9 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	width: 100%;
	height: 100vh;
	margin:0;
	padding: 0;
}

#splash{
	width: 40vw;
	height: auto;
	padding-top: 20vh;
	margin-left: 20vw;
}

.nav-logo img{
	height: 50px;
	padding: 5px;
}

#main-page {
	background-image: url(../assets/images/hero.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:inherit;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}


/*SPLASH*/
#splash{
	width: 40vw;
	height: 100vh;
}

#index-logo{
	width: 80vw;
	margin-top: 40px;
}
/* SIGN-UP */
#recovery:hover,
#recovery-btn:hover,
#signup-btn:hover,
#language:hover{
	color:#72c4b9;
	text-decoration: underline;
	transform: scale(1.05);
}

#main-container{
	margin:30px auto;
}

#index-logo{
	width: 100%;
}

#recovery-btn:focus{
	background-color: #fefee7;
}

#signup-btn {
	background-color: #fefee7;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 500;
}

#signup-logo, #recovery-logo{
	max-width: 50vw;
}


#language-btn{
	background-color: #fefee7;
	padding: 0;
	margin:0;
}
#language-btn:hover{
	background-color: #fefee7;
	color:#72c4b9;
	letter-spacing: 1px;
	transform: scale(1.05);

}
.social-sign{
	width:250px;
	margin: 5px auto;
}

.site-footer{
	text-transform:uppercase;
	font-size:12px;
	margin: 30px auto;
	padding: 30px auto;
}

.login-box,
.signup-box{
	background-color: #fefee7;.
	padding: 20px 10px;
}

.signup-form .btn-fb{
	background-color: #4060db;
	font-size: .9rem;
}

.signup-form .btn-tw{
	background-color: #4090db;
	font-size: .9rem;
}

.signup-form .btn-fb:hover{
	background-color: #fefee7;
	color:#4060db;
	font-size: .9rem;
}

.signup-form .btn-tw:hover{
	background-color:#fefee7 ;
	color:#4090db;
	font-size: .9rem;
}

/* USER-DATA */

.fa-user, .fa-envelope, .fa-check{
	color:#72c4b9;
}

#profile-btn i.fa-user{
	color:#fefee7;
}

.fa-user:hover, .fa-envelope:hover, .fa-check:hover,
.fa-user:focus, .fa-envelope:focus, .fa-check:focus,
.fa-user:active, .fa-envelope:active, .fa-check:active{
	color:#72c4b9;
}

#profile-btn i.fa-user:hover,
#profile-btn i.fa-user:focus,
#profile-btn i.fa-user:active{
	color:#fefee7;
}

/* HOME */

#user-cover img{
	background-image: url(assets/images/user-cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
