<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lettering Life</title>
  <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
  <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
  <link href="../css/material-design-iconic-font.min.css" rel="stylesheet">
  <link href="../css/materialize.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
  <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <main>
        <!-- LOGOUT-->
        <section id="logout" class="bkg-black view">
          <div class="container-fluid bkg-black">
            <div class="row center">
              <div class="col s10 offset-s1">
                <figure id="logout-logo" class="mt-40">
                  <img  class="responsive-img main-logo " src="../assets/images/letteringlife-ivory.png" alt="logo1">
                </figure>
                <button id="login-again-btn"class="btn btn-flat">LOGIN</button>
                <div class="col s12 center mt-40 mb-40 text-aqua2">
                  &copy;Laboratoria 2018
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/LOGOUT-->
      </main>
      <!--SCRIPTS-->
      <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/app.js"></script>
    </body>
    </html>
